<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Profile</title>

    <link rel="stylesheet" href="/css_bootstrap/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/userprofile.css" />
  </head>
  <body class="hoja">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><i style="padding: 10px" class="fas fa-biking fa-2x logo"></i
          >BikeRental</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/userdashboard"
                >Book a bike</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mybooking">My bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userprofile">Profile</a>
            </li>
            <li class="nav-item">
              <form action="/signout" method="post">
                <button type="submit" class="btn btn-0">LogOut</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">
      <div
        class="col-lg-6 d-flex justify-content-center align-items-center flex-column col-md-6 col-sm-12"
      >
        <div>
          <img
            style="
              justify-content: center;
              border-radius: 50%;
              width: 250px;
              height: 250px;
              margin-top: 100px;
            "
            src="https://hddesktopwallpapers.in/wp-content/uploads/2015/09/goose-images.jpg"
            alt=""
          />
        </div>
        <div>
          <a href="/updatepass"
            ><button class="btn btn-primary" style="margin-top: 30px">
              Update Password
            </button></a
          >
        </div>
      </div>
      <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
      <div
        class="col-lg-6 col-md-6 col-sm-12"
        style="justify-content: center; margin-top: 100px"
      >
        <div>
          <h3 style="display: inline-block">Name:</h3>
          <h4 style="display: inline-block"><%= data.username %></h4>
        </div>
        <div>
          <h3 style="display: inline-block">Email:</h3>
          <h4 style="display: inline-block"><%=data.email %></h4>
        </div>
        <div>
          <h3 style="display: inline-block">Number:</h3>
          <h4 style="display: inline-block"><%=data.number %></h4>
        </div>
        <div>
          <h3 style="display: inline-block">License:</h3>
          <h4 style="display: inline-block"><%=data.license %></h4>
        </div>
        <div>
          <h3 style="display: inline-block">Address:</h3>
          <h4 style="display: inline-block"><%=data.address %></h4>
        </div>
        <div>
          <h3 style="display: inline-block">State:</h3>
          <h4 style="display: inline-block"><%=data.state %></h4>
        </div>
      </div>
      <% i++; }) %> <% } else{ %>
      <tr>
        <td colspan="8">No Data Found</td>
      </tr>
      <% } %>
    </div>

    <script src="/js_bootstrap/bootstrap.min.js"></script>
    <script src="/js/userprofile.js"></script>
  </body>
</html>
